body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header{
    height: 10vh;
    border: 1px solid black;
}

main{
    height: 80vh;
    border: 1px solid black;
}

footer{
    height: 10vh;
    border: 1px solid black;
}